body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}

hr {
  background-color: #eee;
  margin: 0 auto !important;
  border: 0 none !important;
  color: #eee;
  height: 2px !important;
  margin: 20px !important;
}

/*
=======================
Nav Bar
=======================
*/

.etsy-logo {
  cursor: pointer;
}

.nav-search {
  margin-left: 12%;
  margin-top: 10px;
  width: 100%;
  display: inline-block;
}

.nav-items {
  display: inline-block;
}

.search-box {
  max-width: 100%;
  width: 73%;
}

.sign-in {
  padding-right: 10px;
  padding-left: 15px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.shopping-cart {
  cursor: pointer;
}

.search-box input {
  padding-right: 50px;
  box-shadow: 0 1px 4px 0 rgba(34, 34, 34, 0.1) inset;
  border-color: rgba(34, 34, 34, 0.15);
  border-style: solid;
  border-width: 1px;
  border-radius: 40px;
  color: #222222;
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 28px;
  height: 48px;
  outline: none;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  min-width: 0;
  background-color: #efefef;
}

/*
=======================
Nav Sections
=======================
*/
.nav-sections {
  display: flex;
  text-align: center;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: -15px;


  list-style-type: none;
  justify-content: space-between;
}

a {
  color: #222222 !important;
  text-decoration: none !important;
  font-size: 13px !important;
  margin: 4px 12px 0 0 !important;
  padding: 0 0 12px !important;
}

/*
=======================
Components
=======================
*/

#components {
  max-width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-gap: 3em;
}

.three {
  position: relative;
  top: -300px !important;
  right: 40px !important;
}

.four {
  position: relative;
  top: -250px !important;
  margin-bottom: -200px !important;
}

/*
=======================
footer
=======================
*/

/* Upper */
#upper-footer {
  background-color: #2f466c;
  color: white;
  font-size: 13px;
  padding-top: 30px;
  height: 300px;
}

.upper-footer-container {
  width: 100vw;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 10%;
}

.shop {
  flex-grow: 1;
  flex-basis: 25%;
  max-width: 25%;
}

.sell {
  flex-grow: 1;
  flex-basis: 25%;
  max-width: 25%;
}

.about {
  flex-grow: 1;
  flex-basis: 25%;
  max-width: 25%;
}

.help {
  flex-grow: 1;
  flex-basis: 25%;
  max-width: 25%;
}

#upper-footer .title {
  font-size: 16px;
}

#upper-footer ul {
  list-style-type: none;
}

#upper-footer ul li {
  padding: 5px;
  cursor: pointer;
}

/* Lower */
#lower-footer {
  width: 100vw;
  overflow: hidden;
  background-color: #222347;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 11%;
  font-size: 13px;
  font-weight: 300;
}

.footer-links li {
  display: inline-block;
  position: relative;
  margin-top: 15px;
  padding: 20px 12px;
  list-style-type: none;
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}